table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid black;
}

th {
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  border: 1px solid black;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border: 1px solid black;
}


